<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>Ember is great !</p>
  <p>We hope you find exactly what dqyou're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<Rentals @rentals={{@model}} />